# These requirements are for running tests, the library itself only needs a
# subset, see setup.py for that list
coverage
pudb
requests
click
click-aliases
click-option-group
colorama
pyotp
requests
tqdm
tabulate
pyjwt
python-gnupg>=0.3.5
